<h1>¡¡¡!!!</h1>

<div class="batman">
	<a href="<%= asset_path 'batman.html'%>"><img src="<%= asset_path 'batman.jpg'%>"></a> 
</div>

<div class="superman">
	<a href="<%= asset_path 'superman.html'%>"><img src="<%= asset_path 'superman.jpg'%>"></a> 
</div>